.h1{
    font-size: 34px;
    margin-top: 20px;
    color:#232f3e
}
.span{
    font-size: 34px;
    margin-top: 20px;
    color:#232f3e;
    font-weight: bold;

}
.h11{
    margin-top: 20px;
    color:#232f3e;
    font-weight: bold;

}