.first{
    color: rgb(255, 255, 255);
    background: linear-gradient(rgb(0, 1, 51) 0%, rgb(15, 16, 72) 100%);
         padding-top: 40px;
        height: 600px;
        margin-top: 16px;
        margin-bottom: 16px;
        
     
       
     
      
    
     
     
   
}
.img{
    border-bottom-left-radius: 70%;
    margin-top:-17px
}




.h1{
   
    font-size:70px;
    font-weight: bold;
    margin-top: 40px;
}
.h3{
    font-size: 23px;
    font-weight: bold;
}
.btn{
    width:200px;
    --background: linear-gradient(90deg, #579bfccc 0%, #6C6CFFcc 100%);
    --background-hover: linear-gradient(90deg, #4982d3cc 0%, #5a5ad5cc 100%);
    --text-color: #ffffff;
    border-radius: 2rem;
}
